@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

 
}

body{
  font-family: 'Nunito Sans', sans-serif;
}
 .dark .akEditor{
      background-color: #1F2023!important;
  }

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.ak-editor-content-area{
  padding: 0px!important;
}

.css-14dakni-FixedToolbar{
  padding:4px 8px!important;
}



.animation-pulse {
    /*box-shadow: 0 0 0 20px rgba(229,62,62, 0.5);
    transform: scale(0.8);*/
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #536DFE;
    }

    70% {
        box-shadow: 0 0 0 8px rgba(229, 62, 62, 0);
    }

    100% {
    }
}


  a{
    color:#0052cc;
  }

  .col-span-10 {
    grid-column: span 10/span 10
}

  .col-span-2 {
    grid-column: span 2/span 2
}